Repository endoflife-date/endoflife.date, pull requests merged in 2022-08, with the labels that each got.

#1445 [linux] 5.19 and other updates
  products/linuxkernel.md
Labels: release-updates

#1438 New devices: Nokia smartphones
  products/nokia.md
Labels: new-product

#1448 [fix] Fixes the default value of diff
  _layouts/product.html
Labels: bug

#1452 [kindle] Kindle Oasis (8th Generation) 5.14.3.0.1
  products/kindle.md
Labels: product-fixes

#1451 Update electron.md
  products/electron.md
Labels: product-fixes

#1454 [electron] v20 released
  products/electron.md
Labels: release-updates

#1462 [tarantool] Mark 2.8 series as EOL
  products/tarantool.md
Labels: release-updates, product-fixes

#1463 [golang] Update version info and add 1.19
  products/go.md
Labels: release-updates

#1460 [windows] add LTS versions for windows EOL [fixes #1425]
  products/windows.md
Labels: release-updates

#1471 [nokia] Add EOL field to Nokia C21 and Nokia C21 Plus
  products/nokia.md
Labels: release-updates, product-fixes

#1475 [mssqlserver] Update 2017 CU30, Add 2008 R2 SP3 label
  products/mssqlserver.md
Labels: release-updates

#1477 [dotnetCore] Update 3.1 series ( NET Core 3.1.28 )
  products/dotnet.md
Labels: release-updates

#1478 [dotnetfx] Add 4.8.1
  products/dotnetfx.md
Labels: release-updates

#1483 [hbase] fix brokenlink for 1.7
  products/hbase.md
Labels: product-fixes

#1484 [mssqlserver] Update 2019 CU17
  products/mssqlserver.md
Labels: release-updates

#1487 [NewProduct] Postfix
  products/postfix.md
Labels: new-product

#1482 [zookeeper] fix version info
  products/zookeeper.md
Labels: product-fixes

#1489 [pan-xdr] Add changelogtemplate and Cortex XDR 7.8
  products/pan-xdr.md
Labels: release-updates, product-fixes

#1500 [Android] Add Version 13
  products/android.md
Labels: release-updates

#1503 [mariadb] remove not used latestShortHand and fix changelogtemplate
  products/mariadb.md
Labels: product-fixes

#1505 [debian] Disable automation and fix latest
  products/debian.md
Labels: product-fixes

#1506 [react] update security support for react 17
  products/react.md
Labels: release-updates, product-fixes

#1508 [NewProduct] Apache Airflow
  products/apache-airlfow.md
Labels: new-product

#1516 [magento] Fix ChangelogTemplate and remove link tags
  products/magento.md
Labels: product-fixes

#1518 Force Python 3.10 in latest PR upgrades
  .github/workflows/auto-merge-release-updates.yml
Labels: enhancement

#1444 [NewProduct] Fortinet FortiOS
  CONTRIBUTING.md
  _layouts/product.html
  products/fortios.md
Labels: new-product

#1502 [NewProduct] OpenSearch
  products/opensearch.md
Labels: new-product

#1522 [unity3d] update version info
  products/unity.md
Labels: release-updates

#1523 [opensearch] Fix YAML
  products/opensearch.md
Labels: bug
