Repository endoflife-date/endoflife.date, pull requests merged in 2022-11, with the labels that each got.

#1781 [mxlinux] Fix typo in release ( fixes #1780 )
  products/mxlinux.md
Labels: bug

#1783 [netbsd] Fix typo relase to release ( fixes #1780 )
  products/netbsd.md
Labels: bug

#1782 [antixlinux] Fix typo relase to release ( fixes #1780 )
  products/antixlinux.md
Labels: bug

#1784 [windows] Add 10 22H2
  products/windows.md
Labels: release-updates

#1786 [Qt] fix link for pointless versions
  products/qt.md
Labels: product-fixes

#1787 [wordpress] Add 6.1
  products/wordpress.md
Labels: release-updates

#1785 [windows] Mark 10 22H2 as non-lts
  products/windows.md
Labels: product-fixes

#1790 [telegraf] Update latest release
  products/telegraf.md
Labels: release-updates

#1791 [wagtail] Add 4.1
  products/wagtail.md
Labels: release-updates

#1793 [NewProduct] Grafana
  products/grafana.md
Labels: new-product

#1800 [New Product] Quarkus
  products/quarkus.md
Labels: new-product

#1802 [Citrix] 1912 LTSR CU6 released
  products/citrix-apps-desktops.md
Labels: release-updates, product-fixes

#1811 Polish products and project documentation
  CONTRIBUTING.md
  HACKING.md
  products/almalinux.md
  products/ansible-core.md
  products/apache-airflow.md
  products/cfengine.md
  products/coldfusion.md
  products/devuan.md
  products/dotnet.md
  products/eurolinux.md
  products/fortios.md
  products/gitlab.md
  products/gke.md
  products/haproxy.md
  products/internetexplorer.md
  products/ios.md
  products/kindle.md
  products/libreoffice.md
  products/linuxkernel.md
  products/linuxmint.md
  products/looker.md
  products/macos.md
  products/mariadb.md
  products/mattermost.md
  products/mysql.md
  products/nextcloud.md
  products/nodejs.md
  products/nutanix-files.md
  products/nvidiadriver.md
  products/nvidiaproducts.md
  products/openssl.md
  products/oraclelinux.md
  products/php.md
  products/postgresql.md
  products/qt.md
  products/samsungmobile.md
  products/sles.md
  products/solr.md
  products/terraform.md
  products/tomcat.md
  products/vmware-esxi.md
  products/vmware-vcenter.md
  products/wagtail.md
Labels: enhancement, product-fixes

#1814 [auto] Fix latest script
  _auto/latest.py
Labels: bug

#1817 [eks] Feb 15 EOL for EKS 1.21
  products/eks.md
Labels: product-fixes

#1801 [Windows] 21H2 LTSC doesn't have extended support but IoT 21H2 does
  products/windows.md
Labels: release-updates

#1810 [New Product] Mule Runtime
  products/muleruntime.md
Labels: new-product

#1813 Update some HTTP links to avoid unnecessary redirects
  .editorconfig
  .github/dependabot.yml
  CODE-OF-CONDUCT.md
  CONTRIBUTING.md
  README.md
  index.md
  products/angular.md
  products/ansible-core.md
  products/ansible.md
  products/blender.md
  products/cfengine.md
  products/citrix-apps-desktops.md
  products/eks.md
  products/emberjs.md
  products/gke.md
  products/go.md
  products/haproxy.md
  products/java.md
  products/kubernetes.md
  products/looker.md
  products/mariadb.md
  products/mysql.md
  products/netbsd.md
  products/nextcloud.md
  products/nvidiadriver.md
  products/pan-gp.md
  products/pan-xdr.md
  products/python.md
  products/redis.md
  products/symfony.md
  products/ubuntu.md
  products/vmware-esxi.md
  products/vmware-vcenter.md
  products/wagtail.md
Labels: enhancement, product-fixes

#1819 [nextcloud] v25 released
  products/nextcloud.md
Labels: release-updates

#1821 [Firefox] 106.0.5
  products/firefox.md
Labels: release-updates

#1822 [auto] Comment on Dependabot PRs with warnings
  .github/workflows/auto-merge-release-updates.yml
  _auto/latest.py
Labels: enhancement, github_actions

#1815 [New Product] Spring Boot
  products/spring-boot.md
Labels: new-product

#1831 Add end of life date for .NET Framework 4.6.2
  products/dotnetfx.md
Labels: product-fixes

#1828 [wordpress] fix link for 3.9.39
  products/wordpress.md
Labels: product-fixes

#1827 [SpringFramework] Fix duplicated phrase in description
  products/spring-framework.md
Labels: product-fixes

#1843 [wordpress] fix 6.1.0 's broken link
  products/wordpress.md
Labels: product-fixes

#1847 [auto] Downgrade back to Python 3.10
  .github/workflows/auto-merge-release-updates.yml
Labels: bug

#1848 [composer] Change changelogtemplate to github to fix links
  products/composer.md
Labels: product-fixes

#1849 [Looker] Update releases information (#1836)
  products/looker.md
Labels: release-updates

#1853 [Quarkus] add missing eol tag
  products/quarkus.md
Labels: product-fixes

#1857 [airflow] update latest version to 2.4.3
  products/apache-airflow.md
Labels: release-updates

#1860 [firefox] 107 released
  products/firefox.md
Labels: release-updates

#1861 [Fedora] 37 released
  products/fedora.md
Labels: release-updates

#1864 [Spring Framework] 6.0.0 released and update product description
  products/spring-boot.md
  products/spring-framework.md
Labels: release-updates

#1872 [jQuery] fix link for 3.6.1
  products/jquery.md
Labels: release-updates, product-fixes

#1874 [redhat] show release column and add changelogTemplate
  products/redhat.md
Labels: release-updates, product-fixes

#1877 [nodejs] they migrate to main from master
  products/nodejs.md
Labels: product-fixes

#1878 [amazonlinux] fix changelogTemplate and fix release date
  products/amazon-linux.md
Labels: release-updates, product-fixes

#1881 [elasticsearch] show 8.5.0's changelog until they fix it
  products/elasticsearch.md
Labels: product-fixes

#1879 [New Product] Jenkins
  products/jenkins.md
Labels: new-product

#1883 [unity3d] Update version info
  products/unity.md
Labels: release-updates

#1884 [docs] Fix links in HACKING.md
  HACKING.md
Labels: bug

#1885 [rabbitmq] Split and update dates
  products/rabbitmq.md
Labels: product-fixes

#1892 [alpinelinux] alpinelinux 3.17 released
  products/alpinelinux.md
Labels: release-updates

#1540 [eks] Upcoming 1.24 release - WIP
  products/eks.md
Labels: release-updates

#1891 [Ansible] Add 7
  products/ansible.md
Labels: release-updates

#1888 [Angular] update support and eol dates for cycles 13, 14 and 15
  products/angular.md
Labels: release-updates

#1896 [electron] Use new releases site instead.
  products/electron.md
Labels: product-fixes

#1897 Change :octocat: -> <img>
  CONTRIBUTING.md
  _layouts/product.html
Labels: bug

#1910 [ansible] add python requirement (modules)
  products/ansible.md
Labels: product-fixes

#1909 [ansible-core] Ansible Roadmap ->Ansible-core Roadmap and add python requirements
  products/ansible-core.md
Labels: product-fixes

#1915 [New Product] Gradle
  products/gradle.md
Labels: new-product

#1916 [New Product] Groovy
  products/apache-groovy.md
Labels: new-product

#1929 [mssqlserver] Add 2022
  products/mssqlserver.md
Labels: release-updates

#1934 [msexchange] update 2019 / 2016 / 2013 cycles
  products/msexchange.md
Labels: release-updates

#1933 Remove unnecessary layout property on filebeat.md, cos.md and ansible-core.md
  CONTRIBUTING.md
  products/ansible-core.md
  products/cos.md
  products/filebeat.md
Labels: enhancement

#1914 [New Product] Add Apache Maven build tool
  products/apache-maven.md
Labels: new-product

#1950 [symfony] Add 6.2
  products/symfony.md
Labels: release-updates
