Repository endoflife-date/endoflife.date, pull requests merged in 2022-09, with the labels that each got.

#1531 [NewProduct] Redmine
  products/redmine.md
Labels: new-product

#1535 [Composer] add 2.4.0
  products/composer.md
Labels: release-updates

#1537 [NewProduct] Add info about EuroLinux
  products/eurolinux.md
Labels: new-product

#1543 [NewProduct] Terraform
  products/terraform.md
Labels: new-product

#1501 [NewProduct] Typo3
  products/typo3.md
Labels: new-product

#1551 [log4j] Rename log4j to Apache log4j
  products/log4j.md
Labels: product-fixes

#1558 [django] Add 4.1.1 version info
  products/django.md
Labels: release-updates

#1564 [mysql] Remove 'latestShortHand', create links from 'latest'
  products/mysql.md
Labels: product-fixes

#1568 [ffmpeg] Remove cycleShortHand add ChangelogTemplate
  products/ffmpeg.md
Labels: product-fixes

#1569 [magento] Remove not needed cycleShortHand
  products/magento.md
Labels: product-fixes

#1570 [looker] Remove cycleshorthand
  products/looker.md
Labels: product-fixes

#1571 [php] Remove cycleshorthand tags
  products/php.md
Labels: product-fixes

#1572 [openSUSE] Fix version names , Remove shorthand , ...
  products/opensuse.md
Labels: product-fixes

#1573 [sles] Fix alt url typo , remove shorthands , fix changelogtemplate
  products/sles.md
Labels: product-fixes

#1574 [kotlin] Remove shorthand tags
  products/kotlin.md
Labels: product-fixes

#1575 [GoLang] Remove shorthand
  products/go.md
Labels: product-fixes

#1576 [alpine] Remove shorthand
  products/alpinelinux.md
Labels: product-fixes

#1577 [Qt] Remove shorthand tags , add changelogTemplate
  products/qt.md
Labels: product-fixes

#1578 [haproxy] Remove shorthand tags
  products/haproxy.md
Labels: product-fixes

#1579 [visualstudio] Add missing releaseDate info , remove shorthand tags
  products/visualstudio.md
Labels: release-updates, product-fixes

#1567 [dotnet] remove cycleshorthand parts
  products/dotnet.md
Labels: product-fixes

#1566 [dotnet] 3.1.29 released
  products/dotnet.md
Labels: release-updates

#1583 [TYPO3] Update Versions
  products/typo3.md
Labels: release-updates

#1584 [yocto] Remove shorthand tags and fix sorting
  products/yocto.md
Labels: product-fixes

#1585 [linux] Remove shorthand tags and fix sorting
  products/linuxkernel.md
Labels: product-fixes

#1586 [vmwareHorizon] cycleshorthand -> codename
  products/vmware-horizon.md
Labels: product-fixes

#1587 [unrealircd] Add 6.0.4.1 and remove shorthand tags
  products/unrealircd.md
Labels: release-updates, product-fixes

#1559 iPhone - Mark as unsupported
  products/iphone.md
Labels: release-updates

#1590 [airflow] Add new new airflow version
  products/apache-airlfow.md
Labels: release-updates

#1593 [airflow] Rename the product file to fix a typo in filename
  products/apache-airflow.md
Labels: product-fixes

#1545 [purl] Initial work on linking to PURLs
  products/almalinux.md
  products/alpinelinux.md
  products/amazon-linux.md
  products/angular.md
  products/ansible.md
  products/apache-airflow.md
  products/apache-http-server.md
  products/bootstrap.md
  products/centos.md
  products/cfengine.md
  products/composer.md
  products/consul.md
  products/couchbase-server.md
  products/debian.md
  products/django.md
  products/docker-engine.md
  products/drupal.md
  products/drush.md
  products/laravel.md
  products/terraform.md
  products/tomcat.md
  products/typo3.md
  products/ubuntu.md
  products/unrealircd.md
  products/varnish.md
  products/vue.md
  products/wagtail.md
  products/wordpress.md
  products/zabbix.md
  products/zookeeper.md
Labels: enhancement

#1603 [macos] Mark catalina as EOL
  products/macos.md
Labels: release-updates

#1608 [Varnish] Add release cycle 7.2
  products/varnish.md
Labels: release-updates

#1611 [Godot] Add 3.5.1 update
  products/godot.md
Labels: release-updates
