Repository endoflife-date/endoflife.date, pull requests merged in 2022-12, with the labels that each got.

#1961 [NixOS] Add 22.11 Release
  products/nixos.md
Labels: release-updates

#1964 [react] Add older cycles and add note
  products/react.md
Labels: product-fixes

#1965 [haproxy] v2.7.0 released
  products/haproxy.md
Labels: release-updates

#1957 [moodle] add 4.1 release
  products/moodle.md
Labels: release-updates

#1967 [electron] v22 released
  products/electron.md
Labels: release-updates

#1968 [mediawiki] Add 1.39
  products/mediawiki.md
Labels: release-updates

#1953 Show `latestReleaseDate` if available
  _layouts/product.html
Labels: enhancement

#1969 [airflow] Update latest version to 2.5.0
  products/apache-airflow.md
Labels: release-updates

#1970 [unity] update version
  products/unity.md
Labels: release-updates

#1962 [New Product] JReleaser
  products/jreleaser.md
Labels: new-product

#1982 [JReleaser] Add auto configuration
  products/jreleaser.md
Labels: product-fixes

#1988 Make sure `lts` field always has a value in API
  _plugins/create-json-files.rb
Labels: enhancement

#1998 [Wordpress] Fix 6.1 link
  products/wordpress.md
Labels: release-updates

#1993 [Blender] Add 3.4
  products/blender.md
Labels: release-updates

#1990 Upgrade Ruby dependencies
  Gemfile.lock
Labels: ruby

#2034 [Apache Tomcat] Set EOL date for 8.5
  products/tomcat.md
Labels: product-fixes

#2035 [eks] Update icon
  products/eks.md
Labels: product-fixes

#2039 Update COS with new releases
  products/cos.md
Labels: release-updates

#2045 [telegraf] Add 1.25
  products/telegraf.md
Labels: release-updates

#2000 [NewProduct] Red Hat Satellite
  products/satellite.md
Labels: new-product

#2044 [New Product] GraalVM
  products/graalvm.md
Labels: new-product

#2055 [cos] Mark everything as LTS
  products/cos.md
Labels: product-fixes

#2056 [bug] Fixes #2047
  _auto/latest.py
  products/watchos.md
Labels: bug

#2060 [new] Adds Gorilla
  products/gorilla.md
Labels: new-product

#2033 [New Product] Keycloak
  products/keycloak.md
Labels: new-product

#2048 [FreeBSD] Replace links with a changelogTemplate
  products/freebsd.md
Labels: product-fixes

#2049 [New Product] Mageia
  products/mageia.md
Labels: new-product

#2070 [mageia] Mark EOL: false for latest release
  products/mageia.md
Labels: bug

#2069 [design] Move product description to the top
  _layouts/product.html
  _plugins/jekyll-element-filters.rb
  _sass/custom/custom.scss
Labels: enhancement

#2072 [style] Adds more margin for description
  _sass/custom/custom.scss
Labels: bug

#2081 [ci] Faster Iterations for our Automation
  _auto/deploy.sh
  _config.yml
  netlify.toml
Labels: enhancement

#2100 [grafana] Align with new policy
  products/grafana.md
Labels: product-fixes

#2099 [Java] Add changelogTemplate
  products/java.md
Labels: product-fixes

#2095 [Azure Devops Server] Various product improvements
  products/azure-devops.md
Labels: product-fixes

#2111 [composer] Add 2.5
  products/composer.md
Labels: release-updates

#2110 [numpy] Add 1.24
  products/numpy.md
Labels: release-updates

#2113 [gke] Add 1.25
  products/gke.md
Labels: release-updates

#2112 [drupal] Add 10.0, 9.5
  products/drupal.md
Labels: release-updates

#2116 [drupal] Drop redundant information
  products/drupal.md
Labels: product-fixes

#2122 [Elasticsearch] Update page
  products/elasticsearch.md
Labels: product-fixes

#2128 Rename purl to identifiers
  CONTRIBUTING.md
  products/almalinux.md
  products/alpinelinux.md
  products/amazon-linux.md
  products/angular.md
  products/ansible.md
  products/antixlinux.md
  products/apache-airflow.md
  products/apache-http-server.md
  products/bootstrap.md
  products/centos.md
  products/cfengine.md
  products/composer.md
  products/consul.md
  products/couchbase-server.md
  products/debian.md
  products/devuan.md
  products/django.md
  products/docker-engine.md
  products/drupal.md
  products/drush.md
  products/gorilla.md
  products/kotlin.md
  products/laravel.md
  products/mariadb.md
  products/mongodb.md
  products/mxlinux.md
  products/nginx.md
  products/ruby.md
  products/slackware.md
  products/tomcat.md
  products/typo3.md
  products/ubuntu.md
  products/unrealircd.md
  products/varnish.md
  products/vue.md
  products/wagtail.md
  products/wordpress.md
  products/zabbix.md
  products/zookeeper.md
Labels: enhancement

#2131 [go] Set EOL dates for older releases
  products/go.md
Labels: product-fixes

#2130 [gitlab] 15.7.0 release
  products/gitlab.md
Labels: release-updates

#2097 [New Product] Nexus repository OSS
  products/nexus.md
Labels: new-product

#2121 [New Product] Elastic Beats
  products/beats.md
  products/filebeat.md
Labels: new-product

#2134 Cleanup `_headers` template
  _headers
Labels: enhancement

#2149 Add ruby 3.2
  products/ruby.md
Labels: release-updates, product-fixes

#1900 Update site logo with an hourglass icon
  HACKING.md
  README.md
  _config.yml
  _includes/head_custom.html
  _sass/custom/custom.scss
  assets/apple-touch-icon.png
  assets/favicon-16x16.png
  assets/favicon-32x32.png
  assets/favicon.ico
  assets/icon.png
  assets/icon.svg
  assets/logo-192x192.png
  assets/logo-512x512.png
  assets/logo.png
  assets/logo.svg
  assets/mstile-144x144.png
  assets/mstile-150x150.png
  assets/mstile-310x150.png
  assets/mstile-310x310.png
  assets/mstile-70x70.png
  assets/safari-pinned-tab.svg
  browserconfig.xml
  favicon.ico
  humans.txt
  manifest.json
Labels: enhancement

#755 [Feature] Add support for ICS Files
  .gitignore
  Gemfile
  Gemfile.lock
  _headers
  _layouts/product.html
  _plugins/create-icalendar-files.rb
  _redirects
Labels: enhancement

#2004 [twig] fix min php versions
  products/twig.md
Labels: product-fixes

#2156 [Samsung Mobile] Remove duplicated 'Galaxy M32' cycle (closes #2137)
  products/samsungmobile.md
Labels: product-fixes

#2155 [Grails,IE,Joomla,MariaDB,Mule] Fix typos
  products/grails.md
  products/internetexplorer.md
  products/joomla.md
  products/mariadb.md
  products/muleruntime.md
Labels: product-fixes

#2119 [VMware Horizon] Fix release cycles
  products/vmware-horizon.md
Labels: product-fixes

#2162 [New Product] Add Tails
  products/tail.md
Labels: new-product

#2166 [New Product] Scala
  products/scala.md
Labels: new-product

#2164 [citrix-apps ] Citrix 2212 & 2203 CU2 released
  products/citrix-apps-desktops.md
Labels: release-updates

#2169 [KDE plasma] add minor updates
  products/kdeplasma.md
Labels: release-updates

#2195 [Neo4j] Fix `changelogTemplate`
  products/neo4j.md
Labels: bug

#2165 [New Product] PHPMyAdmin
  products/phpmyadmin.md
Labels: new-product

#2167 [New Product] Ionic Framework
  products/ionic.md
Labels: new-product

#2198 [openwrt] Adds OpenWrt
  products/openwrt.md
Labels: new-product

#2199 [ipad] Adds iPad
  products/ipad.md
Labels: new-product

#2202 [new] Raspberry Pi
  _auto/validate.py
  _layouts/product.html
  products/raspberrypi.md
Labels: new-product

#2217 [photon] Adds VMWare Photon
  products/vmware-photon.md
Labels: new-product

#2222 [esxi] Moves Technical Guidance to text
  _includes/table.html
  products/vmware-esxi.md
  products/vmware-horizon.md
  products/vmware-srm.md
  products/vmware-vcenter.md
Labels: bug
