Repository endoflife-date/endoflife.date, pull requests merged in 2023-05, with the labels that each got.

#2902 [New Product] GStreamer
  products/gstreamer.md
Labels: new-product

#2905 [plesk] Add 18.0.52
  products/plesk.md
Labels: release-updates

#2904 [grafana] Add 9.5 and update 9.4 support / 9.3 eol dates
  products/grafana.md
Labels: release-updates

#2936 [clamav] Add 1.1
  products/clamav.md
Labels: release-updates

#2937 [windows] Fix 10/11 22H2 support and eol dates
  products/windows.md
Labels: release-updates, product-fixes

#2923 [unrealircd] Fix links
  products/unrealircd.md
Labels: product-fixes

#2921 [unity] Update changelogTemplate and update/fix latest versions
  products/unity.md
Labels: release-updates, product-fixes

#2909 [wordpress] Update changelogTemplate
  products/wordpress.md
Labels: product-fixes

#2907 [freebsd] Update changelogTemplate
  products/freebsd.md
Labels: product-fixes

#2906 [magento] Fix links for cycles 1.0 to 2.3
  products/magento.md
Labels: product-fixes

#2941 [wagtail] Add 5.0
  products/wagtail.md
Labels: release-updates

#2924 [ros2] Various updates
  products/ros2.md
Labels: product-fixes

#2922 [tomcat] Various updates
  products/tomcat.md
Labels: product-fixes

#2918 [linux] Update Linux releases and site text from kernel.org
  products/linuxkernel.md
Labels: release-updates

#2945 [linuxkernel] Normalize page (#2124)
  products/linuxkernel.md
Labels: release-updates

#2867 [amazon-corretto] Switch to `github_releases` auto method
  products/amazon-corretto.md
Labels: release-updates

#2914 [hbase] Fix changelogTemplate
  products/hbase.md
Labels: product-fixes

#2916 [contao] Fix links
  products/contao.md
Labels: product-fixes

#2920 [slackware] Fix 8.0 and 8.1 links
  products/slackware.md
Labels: product-fixes

#2919 [pan-cortex-xdr] Update changelogTemplate and fix links
  products/pan-cortex-xdr.md
Labels: product-fixes

#2917 [readynas] Various updates
  products/readynas.md
Labels: release-updates

#2913 [log4j] Fix links for all versions
  products/log4j.md
Labels: product-fixes

#2911 [mongodb] Fix links for release cycles 1.0 to 2.0
  products/mongodb.md
Labels: product-fixes

#2908 [graalvm] Fix changelogTemplate
  products/graalvm.md
Labels: product-fixes

#2915 [spring-framework] Fix changelogTemplate for versions 3.2 to 5.2
  products/spring-framework.md
Labels: product-fixes

#2912 [spring-boot] Fix links for release cycles 1.5 to 2.3
  products/spring-boot.md
Labels: product-fixes

#2910 [opensuse] Fix links for release cycles 11.0 to 42.3
  products/opensuse.md
Labels: product-fixes

#2894 [redhat] Update changelogTemplate
  products/redhat.md
Labels: product-fixes

#2873 [mageia] Fix `changelogtemplate` and add auto configuration
  products/mageia.md
Labels: product-fixes

#2878 [dotnetfx] Fix 4.0 and 3.5 SP1 links
  products/dotnetfx.md
Labels: product-fixes

#2949 [dotnet] Fix link for 2.0
  products/dotnet.md
Labels: product-fixes

#2971 [firefox] Add 113
  products/firefox.md
Labels: release-updates

#2970 [alpinelinux] Add 3.18
  products/alpinelinux.md
Labels: release-updates

#2953 [moodle] Fix 4.2 link and remove `releaseImage`
  products/moodle.md
Labels: product-fixes

#2954 [muleruntime] Remove link for 3.8
  products/muleruntime.md
Labels: product-fixes

#2955 [nix] Remove 1 link
  products/nix.md
Labels: product-fixes

#2956 [numpy] Fix 1.24 link
  products/numpy.md
Labels: product-fixes

#2977 [red-hat-openshift] Update 4.12.16, 4.11.39, 4.10.59
  products/red-hat-openshift.md
Labels: release-updates

#2950 [godot] Remove link for 1.0
  products/godot.md
Labels: product-fixes

#2947 [cfengine] Update `changelogTemplate`
  products/cfengine.md
Labels: product-fixes

#2980 [mxlinux] Fix auto configuration
  products/mxlinux.md
Labels: product-fixes

#2861 Display `link` and `latestReleaseDate` for EOL releases
  _layouts/product.html
Labels: enhancement

#2984 [mssqlserver] Update 2022 CU4
  products/mssqlserver.md
Labels: release-updates

#2985 [satellite] Add security advisory link for 6.9.10
  products/satellite.md
Labels: release-updates

#2989 [mxlinux] Fix regex
  products/mxlinux.md
Labels: bug

#2870 [java] Add older releases
  products/java.md
Labels: release-updates

#2995 [neo4j] Add 5.8, update 5.7 eol
  products/neo4j.md
Labels: release-updates

#3003 reset cycleColumnClass
  _layouts/product.html
Labels: bug

#3012 [centos] Fix description (closes #3011)
  products/centos.md
Labels: bug

#2777 [New Product] BellSoft Liberica JDK
  products/bellsoft-liberica.md
Labels: new-product

#3008 [spring-boot] Add 3.1
  products/spring-boot.md
Labels: release-updates

#3015 [gerrit] Add 3.8
  products/gerrit.md
Labels: release-updates

#3016 Fix `latest.py`
  _auto/latest.py
  products/bellsoft-liberica.md
  products/eclipse-temurin.md
Labels: bug

#3007 [gitlab] Add 16.0
  products/gitlab.md
Labels: release-updates

#2993 [emberjs] Add 4.4, 4.8 LTS
  products/emberjs.md
Labels: release-updates

#3029 [azure-kubernetes-service] Add 1.26
  products/azure-kubernetes-service.md
Labels: release-updates

#3032 [tarantool] Add 2.11 LTS, update eol
  products/tarantool.md
Labels: release-updates

#3017 [New Product] Add Apache Kakfa
  products/apache-kafka.md
Labels: new-product

#3027 [nokia] add new devices, update some `eol: false`
  products/nokia.md
Labels: release-updates

#3039 [red-hat-openshift] Update 4.12.18, 4.11.41, 4.10.60
  products/red-hat-openshift.md
Labels: release-updates

#3043 Add FortiOS 7.4 release
  products/fortios.md
Labels: release-updates

#3044 [yocto] Adds 4.2
  products/yocto.md
Labels: release-updates
